html,
body {
    height: 100%;
    margin: 0;
    background-image: url("https://res.cloudinary.com/dt7h6qci4/image/upload/v1728998125/Captura_de_pantalla_2024-10-15_101507_j7emub.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    position: relative;
    z-index: 1;
}

.main-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer .text-center {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

.form-container {
    width: 60%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .navbar-brand {
    color: white;
}


@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}